{% extends 'base.html' %}

{% block title %} Add Tag {% endblock %}

{% block content %}

<h1>Create a Tag</h1>

<form method="POST" action="/tags/new">
    <div class="form-group row">
        <label for="name">Name</label>
        <div>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag">
        </div>
    </div>

    <div class="form-group row">
        {% for post in posts %}
        <div>
            <input class="form-input" type="checkbox" value="{{ post.id }}" id="post_{{ post.id }}" name="posts">
            <label class="form-check-label" for="post_{{ post.id }}">
                {{ post.title }}
            </label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group row">
        <a href="/tags" class="btn">Cancel</a>
        <button type="submit" class="btn">Add</button>
    </div>
</form>


{% endblock %}